body {
	background-color: #f5efe8;
	color: #4a4a4a;
}

.container {
	margin: 120px auto;
	max-width: 600px;
}

header {
	margin-bottom: 40px;
}

h1 {
	text-align: center;
	font-size: 48px;
	line-height: 1.5;
	color: #f6378f;
	font-family: "Gaegu", sans-serif;
	font-weight: 800;
}

/* form */

.form-container {
	background-color: #ffc93c;
	margin-bottom: 36px;
	border-radius: 10px;
	box-shadow: 0 16px 20px rgba(65, 50, 100, 0.08);
	padding: 24px;
}

form {
	display: flex;
}

.hint {
	font-size: 10px;
	margin-top: 5px;
	opacity: 0.8;
	padding-left: 10px;
	line-height: 1.5;
	font-family: "Sono", monospace;
	font-weight: 200;
	font-style: italic;
	font-variation-settings: "MONO" 0.9;
}

.instrucitons {
	padding: 16px;
	border: 1px solid rgba(39, 33, 66, 0.4);
	width: 80%;
	font-size: 16px;
	border-radius: 60px;
	line-height: 1.5;
	color: 272044;
	font-family: "Sono", monospace;
	font-weight: 400;
	font-variation-settings: "MONO" 0.2;
	/* color - a font in the form */
}

.submit-button {
	margin-left: 10px;
	background-color: #f6378f;
	color: whitesmoke;
	border: none;
	width: 150px;
	border-radius: 50px;
	padding: 14px 24px;
	font-size: 18px;
	font-family: "Sono", monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "MONO" 0.5;
}

.poem {
	font-size: 18px;
	background-color: #ffc93c;
	padding: 24px;
	line-height: 2.5;
	border-left: 4px solid #f6378f;
	box-shadow: 0 4px 30px rgba(65, 50, 100, 0.008);
	font-family: "Sono", monospace;
	font-weight: 300;
	font-variation-settings: "MONO" 1;
}

.hidden {
	display: none;
}

footer {
	text-align: center;
	font-size: 12px;
	margin-top: 30px;
	opacity: 0.9;
	font-family: "Gaegu", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
	color: #f6378f;
}

/* blink */

.generating {
	animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink-animation {
	to {
		visibility: hidden;
	}
}
